.toolbar{
  width: 100%;
  height: 8%;
  position: absolute;
  margin-top: -.9em;
  margin-bottom:5em;
  z-index: 1;
  border: solid;
  border-color:#EB219B;
  background:black;
  -webkit-filter: drop-shadow(3px 3px 1px #441F62);
  font-weight: normal;
  -webkit-fill-color: rgba(253, 90, 250, 1);

}

#searchbutton{
  display: none;
}

.toolbar_navigation{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar_navigation-items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.spacer{
  flex: 1;
  /* will take all available space between logo and tabs */
}

.toolbar_navigation-items li{
  padding: 0 0.5rem;
}

.toolbar_navigation-items a{
  color: #EB219B;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
  color:#fa923f;
}

@media (max-width: 769px) {
  .toolbar_navigation-items{
    display: none;
  }
}

/* below show not be view on big screens */
@media (min-width: 770px){


  .toolbar_logo{
    margin-left: 0;
  }
}

@media (max-width: 769px){
  input{
    margin-bottom: 1.5em;
  }
}


@media (max-width: 375px){
  input {
    margin-bottom: 1.5em;
  }
}
