.side-drawer{
  margin-top: 20.5em;
  height: 20%;
  background: black;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul{
  margin-top: 3em;
  height: 30%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  padding: .3em;
  /* margin-left: .5em; */
  font-family: sans-serif;
}

.side-drawer a{
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -.5px -.5px 0 #FFBAF2;
  /* -webkit-filter: drop-shadow(3px 3px 1px #441F62); */
  -webkit-transform: skew(-1deg,-5deg);
  font-weight: normal;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: -2em;
}

.side-drawer a:hover,
.side-drawer a:active {
  color:#fa923f;
}

@media (min-width: 376px) and (max-width: 1100px) {
  .side-drawer{
    margin-top: 20.5em;
    height: 20%;
    background: black;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 8em;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
}

@media (max-width: 375px){
  .side-drawer{
    height:10em;
  }
}
