@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
body {
  margin-top: 7em;
  background: black;
  width: 100%;
}

.mayAlsoLike{
  letter-spacing: .1em;
  font-size: 2em;
  text-align: left;
  font-family: 'Mr Dafoe', cursive;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  font-weight: normal;
  z-index: 2;
  text-align: center;
}

.hslider{
  margin-top:5em;
}

.date{
  font-size: 1.5em;
  text-align: left;
  font-family: 'Mr Dafoe', cursive;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -.5px -.5px 0 #FFBAF2;
  -webkit-transform: skew(-1deg,-5deg);
  font-weight: normal;
  z-index: 2;
  text-align: center;

}
.searchresultscontainer{
  margin-top: 5em;
}
.noSearchResults{
  letter-spacing: .1em;
  left: 0;
  font-size: 3em;
  margin-top: 1.8em;
  color: #EB219B;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  font-weight: normal;
  z-index: 2;
  text-align: center;
}

.simg{
  position: absolute;
  height: 268.59px;
}
.sauthor{
  position: absolute;
  font-size: 1.3em;
  letter-spacing: .2em;
  font-family: Arial Rounded MT Bold, arial;
  padding: 1%;
  margin-top: 8em;
  margin-left: 1%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  word-wrap: break-word;

}

img{
  width: 100%;
}

.stitle{
  position: absolute;
  font-size: 1.2em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: 1%;
  margin-left: 1%;
  border-style: solid;
  background-color: white;
  color: black;
  word-wrap: break-word;

}

.spacer{
  margin-bottom: 13em;
}

.stag{
  font-size: .8em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: 1%;
  margin-left: 5%;
  margin-top: 2%;
  /* border-style: solid; */
  background-color: black;
  color: white;
  word-wrap: break-word;
  position:absolute;
}


#typetag {
    font-size: .8em;
    letter-spacing: .1em;
    position: absolute;
    font-family: Arial Rounded MT Bold, arial;
    padding: 1%;
    margin-left: 5%;
    margin-top: 16%;
    /* border-style: solid; */
    background-color: black;
    color: white;
    word-wrap: break-word;
}

#title {
  font-size: 1.2em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: 1%;
  margin-top: 4%;
  margin-left: 1%;
  /* margin: 1%; */
  border-style: solid;
  background-color: white;
  color: black;
  word-wrap: break-word;
}
.author{
  font-size: 1.3em;
  letter-spacing: .2em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: 1%;
  margin-top: 57%;
  margin-left: 1%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  word-wrap: break-word;
}
input {
    margin-top: 1.5em;
    width: 70%;
    height: 2em;
    border: solid;
    border-color:#EB219B;
    /* background:black; */
    -webkit-filter: drop-shadow(3px 3px 1px #441F62);
    /* -webkit-transform: skew(-5deg,-5deg); */
    font-weight: normal;
    background-color: black;
    color: #EB219B;
    font-size: .8em;
    text-align: center;
  }

  @media (min-width: 1101px){
    /* last four articles on homepage */
    #itypetag {
        font-size: .8em;
        letter-spacing: .1em;
        position: absolute;
        font-family: Arial Rounded MT Bold, arial;
        padding: .3em;
        margin-left: 2em;
        margin-top: 8em;
        /* border-style: solid; */
        background-color: black;
        color: white;
        word-wrap: break-word;
    }
    #ititle {
      font-size: 1.3em;
      letter-spacing: .1em;
      position: absolute;
      font-family: Arial Rounded MT Bold, arial;
      padding: .3em;
      margin-top: 4%;
      margin-left: 1%;
      /* margin: 1%; */
      border-style: solid;
      background-color: white;
      color: black;
      word-wrap: break-word;
    }
    .iauthor{
      font-size: 1.8em;
      letter-spacing: .2em;
      position: absolute;
      font-family: Arial Rounded MT Bold, arial;
      padding: .1em;
      margin-top: 11em;
      margin-left: 1%;
      border-style: solid;
      border-color: black;
      background-color: white;
      color: black;
      word-wrap: break-word;
    }
    /* last four articles above on homepage */
    .infinityHomePage{
      display:grid;
      grid-template-columns: 50% 50%;
      grid-template-rows:50% 50%;
      padding-right: 1em;
      grid-column-gap: 1em;
      margin-top:1em;
      grid-row-gap: 1em;
    }
    #mediumHomepage{
      height:12em;
    }

    .flexContainerOne{
      grid-template-columns: 50% 50%;
      display:grid;
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      margin-top:5em;
    }
    .flexContainerTwo{
      grid-template-columns: 50% 50%;
      display:grid;
      grid-column-gap: 1em;
      grid-row-gap: 1.5em;
    }
    .summary{
      color: white;
      font-size: 2em;
      text-align:center;
    }
    .author{
      margin-top: 8.5em;
      font-size:.9em;
      padding:.2em;
      font-size:1em;
    }
    #title{
      font-size:.9em;
      margin-top:.5em;
      padding:.4em;
    }
    #typetag{
      margin-top:4em;
      margin-left: 1.5em;
      font-size:.7em;
      padding:.3em;
    }
    .searchresultscontainer{
      margin-top: 9em;
      grid-template-columns:1fr 1fr;
      display:grid;
      grid-column-gap: .5em;
      grid-row-gap: .5em;
    }
    input{
      margin-top:0em;
    }
  }

  @media (min-width: 376px) and (max-width: 1100px) {
    .flexContainerOne{
      display:grid;
      grid-template-columns: 50% 50%;
      padding-right: 1em;
      grid-column-gap: 1em;
      margin-top:1em;
      grid-row-gap: 1em;
    }
    img{
      height: 12em;
      width:100%;
    }
    .flexContainerTwo{
      grid-template-columns: 50% 50%;
      display:grid;
      grid-column-gap: 1em;
      grid-row-gap: 1.5em;
    }
    .summary{
      color: white;
      font-size: 2em;
      text-align:center;
    }
    .author{
      margin-top: 8.5em;
      font-size:1.1em;
      padding:.1em;
    }
    #title{
      font-size:1.1em;
      margin-top:.5em;
      padding:.1em;
    }
    #typetag{
      margin-top:4em;
      margin-left: 1.5em;
      font-size:.7em;
      padding:.4em;
    }
    .searchresultscontainer{
      margin-top: 9em;
      grid-template-columns:1fr 1fr;
      display:grid;
      grid-column-gap: .5em;
      grid-row-gap: .5em;
    }
    input{
      margin-top:0em;
    }
    #itypetag {
        font-size: .7em;
        letter-spacing: .1em;
        position: absolute;
        font-family: Arial Rounded MT Bold, arial;
        padding: .3em;
        margin-left: 1.5em;
        margin-top: 5em;
        /* border-style: solid; */
        background-color: black;
        color: white;
        word-wrap: break-word;
    }
    #ititle {
      font-size: 1em;
      letter-spacing: .1em;
      position: absolute;
      font-family: Arial Rounded MT Bold, arial;
      padding: .3em;
      margin-top: 1em;
      margin-left: 1%;
      /* margin: 1%; */
      border-style: solid;
      background-color: white;
      color: black;
      word-wrap: break-word;
    }
    .iauthor{
      font-size: 1em;
      letter-spacing: .2em;
      position: absolute;
      font-family: Arial Rounded MT Bold, arial;
      padding: .1em;
      margin-top: 9em;
      margin-left: 1%;
      border-style: solid;
      border-color: black;
      background-color: white;
      color: black;
      word-wrap: break-word;
    }
    /* last four articles above on homepage */
    .infinityHomePage{
      display:grid;
      grid-template-columns: 50% 50%;
      grid-template-rows:50% 50%;
      padding-right: 1em;
      grid-column-gap: 1em;
      margin-top:1em;
      grid-row-gap: 1em;
    }
  }

@media (max-width: 375px){
  input {
      margin-top: 1.5em;
      width: 70%;
      height: 2em;
      border: solid;
      border-color:#EB219B;
      -webkit-filter: drop-shadow(3px 3px 1px #441F62);
      font-weight: normal;
      background-color: black;
      color: #EB219B;
      font-size: .8em;
    }
    img{
      height: 268.59px;
    }
    .noSearchResults{
      height: 10em;
      padding-top: 2em;
    }
    .searchresultscontainer{
      margin-top: 5em;
      grid-template-columns:1fr;
      display:grid;

    }
    .flexContainerOne{
      width:100%;
      display:grid;
      margin-top:.2em;
      grid-template-columns: 1fr;
      grid-column-gap: 0em;
      grid-row-gap: 0em;

    }
}
