body {
  margin-top: 3.4em;
  margin-bottom: 30em;
}

#typetag {
    font-size: .8em;
    letter-spacing: .1em;
    position: absolute;
    font-family: Arial Rounded MT Bold, arial;
    padding: 1%;
    margin-left: 5%;
    margin-top: 16%;
    /* border-style: solid; */
    background-color: black;
    color: white;
    word-wrap: break-word;
}

img, #homepage {
  width: 100%;
}

#block{
  opacity: .7;
}

#title {
  font-size: 1.2em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: 1%;
  margin-top: 4%;
  margin-left: 1%;
  /* margin: 1%; */
  border-style: solid;
  background-color: white;
  color: black;
  word-wrap: break-word;
}



.author{
  font-size: 1.3em;
  letter-spacing: .2em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: 1%;
  margin-top: 57%;
  margin-left: 1%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;

  word-wrap: break-word;
}



@media (max-width: 375px){
  input {
      margin-left: 20%;
      margin-top: 1.5em;
      width: 70%;
      height: 2em;
      border-style: line;
      border-color: black;
      background-color: #521751;
      color: white;
      font-size: .8em;
    }
}
