.FeatureSlider {
  width: 100%;
}

.ftypetag{
  font-size: .8em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: 2.4%;
  margin-left: .9%;
  background-color: black;
  color: white;
  word-wrap: break-word;
}

.ftitle {
  font-size: 1.2em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: .6%;
  margin-left: .3%;
  border-style: solid;
  background-color: white;
  color: black;
  word-wrap: break-word;
}



.fauthor{
  font-size: 1.4em;
  letter-spacing: .2em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: 8%;
  margin-left: .3%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  word-wrap: break-word;
}

/* @media (max-width: 375px){
  input {
      margin-left: 20%;
      margin-top: 1.5em;
      width: 70%;
      height: 2em;
      border-style: line;
      border-color: black;
      background-color: #521751;
      color: white;
      font-size: .8em;
    }
    img{
      width: 375px;
      height: 268.59px;
    }
    .noSearchResults{
      height: 10em;
      padding-top: 2em;
    }
} */
