.FeatureSlider {
  width: 100%;
  /* margin-bottom: 1em; */
}

.ftypetag{
  font-size: .8em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: 2.4%;
  margin-left: .9%;
  background-color: black;
  color: white;
  word-wrap: break-word;
}

.ftitle {
  font-size: 1.2em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: .6%;
  margin-left: .3%;
  border-style: solid;
  background-color: white;
  color: black;
  word-wrap: break-word;
}

.fauthor{
  font-size: 1.4em;
  letter-spacing: .2em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: 8%;
  margin-left: .3%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  word-wrap: break-word;
}



@media (min-width: 375px){
  .FeatureSlider {
    width: 100%;
    height: 17em;
    /* margin-bottom: 1em; */
    margin-top: 1em;
  }
}

@media (max-width: 769px, min-width: 376px){
  .FeatureSlider{
    height: 2em;
  }
  .ftitle{
    margin-top:1.8em;
  }
  .fauthor{
    margin-top:14em;
  }
  .ftypetag{
    margin-left:1.5em;
  }

}
