
.vcontainer{
  margin-right:.1em;
  margin-left:-.5em;
}
.vauthor{
  font-size: 1.4em;
  letter-spacing: .2em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: -2em;
  margin-left: .3%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  word-wrap: break-word;
}

.vcontent{
  color: black;
  background-color: white;
  text-align:center;
  line-height: 1.5em;
  font-family: Arial Rounded MT Bold, arial;;
  margin-top: .5em;
}


.yt{
  font-size: 1.2em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: -11em;
  margin-left: .3%;
  border-style: solid;
  background-color: white;
  color: black;
  word-wrap: break-word;
}

.ya{
  font-size: 1.4em;
  letter-spacing: .2em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: -1em;
  margin-left: .3%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  word-wrap: break-word
}

.yta{
  font-size: .8em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: -16.5em;
  margin-left: 1em;
  background-color: black;
  color: white;
  word-wrap: break-word;
}

.yi{
  margin-bottom: -3em;
  height: 268.59px;
}
@media (max-width: 375px){
  .vimage{
  margin-top: 3em;
  height: 15em;
  width:100%;
  margin-left:-.7em;
  }
  .vtitle{
    z-index: 1;
    font-size: 1.2em;
    letter-spacing: .1em;
    position: absolute;
    font-family: Arial Rounded MT Bold, arial;
    padding: .2%;
    margin-top: -12em;
    margin-left: .3%;
    border-style: solid;
    background-color: white;
    color: black;
    word-wrap: break-word;
  }
  .vcontent{
    margin-right:5em;
    margin-left:.5em;
    width:90%;
  }
  .yi{
    width:90%;
    margin-left:1em;
    height:15em;
  }
  .yt{
    margin-left:1.5em;
    margin-top:-9.5em;
  }
  .ya{
    margin-left:2em;
    margin-top:-1em;
    font-size:1em;
  }
  .yta{
    margin-left:2.5em;
    margin-top:-14em;
  }
}

@media (min-width: 376px) and (max-width: 1100px){
  .vimage{
  margin-top: 5em;
  height: 20em;
  width:96%;
  }

  .vtitle{
    z-index: 1;
    font-size: 1.2em;
    letter-spacing: .1em;
    position: absolute;
    font-family: Arial Rounded MT Bold, arial;
    padding: .2%;
    margin-top: -15.5em;
    margin-left: .3%;
    border-style: solid;
    background-color: white;
    color: black;
    word-wrap: break-word;
  }
  .vcontent{
    margin-right:5em;
    margin-left:1.4em;
    width:90%;
  }
  .yi{
    width:90%;
    margin-left:1.5em;
    height:20em;
  }
  .yt{
    margin-left:1.5em;
    margin-top:-13.5em;
  }
  .ya{
    margin-left:1.5em;
  }
  .yta{
    margin-left:2.5em;
    margin-top:-20em;
  }
}
@media (min-width: 1100px){
  .vimage{
    width:100%;
    height:30em;
    margin-top:4em;
    margin-left:.5em;
  }
  .vcontainer{
    margin-right:1em;
    margin-left:2em;
  }
  .vcontent{
    margin-right:5em;
    margin-left:5em;
  }
  .vauthor{
    margin-top:-3em;
    margin-left:1em;
  }
  .vtitle{
    z-index: 1;
    font-size: 1.2em;
    letter-spacing: .1em;
    position: absolute;
    font-family: Arial Rounded MT Bold, arial;
    padding: .2%;
    margin-top: -24em;
    margin-left: 1em;
    border-style: solid;
    background-color: white;
    color: black;
    word-wrap: break-word;
  }
  .yi{
    width:95%;
    margin-left:1em;
    height:20em;
  }
  .yt{
    margin-left:1em;
    margin-top:-13em;
  }
  .ya{
    margin-left:1em;
  }
  .yta{
    margin-left:2em;
    margin-top:-19em;
  }
}
