

.vauthor{
  font-size: 1.4em;
  letter-spacing: .2em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: -2em;
  margin-left: .3%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  word-wrap: break-word;
}

.vcontent{
  color: black;
  background-color: white;
  text-align:center;
  line-height: 1.5em;
  font-family: Arial Rounded MT Bold, arial;;
  margin-top: .5em;
}


.yt{
  font-size: 1.2em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: -11em;
  margin-left: .3%;
  border-style: solid;
  background-color: white;
  color: black;
  word-wrap: break-word;
}

.ya{
  font-size: 1.4em;
  letter-spacing: .2em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: -1em;
  margin-left: .3%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  word-wrap: break-word
}

.yta{
  font-size: .8em;
  letter-spacing: .1em;
  position: absolute;
  font-family: Arial Rounded MT Bold, arial;
  padding: .2%;
  margin-top: -16.5em;
  margin-left: 1em;
  background-color: black;
  color: white;
  word-wrap: break-word;
}

.yi{
  margin-bottom: -3em;
  height: 268.59px;
}

@media (max-width: 769px){
  .vimage{
  margin-top: 5em;
  height: 18em;
  }

  .vtitle{
    z-index: 1;
    font-size: 1.2em;
    letter-spacing: .1em;
    position: absolute;
    font-family: Arial Rounded MT Bold, arial;
    padding: .2%;
    margin-top: -14.5em;
    margin-left: .3%;
    border-style: solid;
    background-color: white;
    color: black;
    word-wrap: break-word;
  }
}
