.footer{
  width: 100%;
  bottom: 0;
  position: relative;
}

@media (max-width: 768px) {
  .footer_navigation-items{
    display: none;
  }
}

/* below show not be view on big screens */
@media (min-width: 769px){
  .footer_toggle-button {
    display:none;
  }

  .footer_logo{
    margin-left: 0;
  }
}
