@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

.ffuture {
  position: absolute;
  left: 0;
  top: -2.5em;
  font-family: 'Mr Dafoe', cursive;
  font-size: 7em;
  margin-top: 1.8em;
  /* padding-bottom: -5em; */
  color: #EB219B;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -2px -2px 0 #FFBAF2;
  -webkit-filter: drop-shadow(3px 3px 1px #441F62);
  -webkit-transform: skew(-5deg,-5deg);
  font-weight: normal;
  z-index: 2;
  /* margin-left: 1em; */
  text-align: center;
  padding-left: 50px;
  /* padding-right: 70px; */
}

.fcop {
  text-align: center;
  position: relative;
  font-family: 'Monoton', cursive;
  font-size: 10em;
  line-height: 1;
  /* margin-bottom: 1em; */
  /* margin-top: .6em; */
  padding-top: -1em;
  /* margin-top: -.2em; */
  /* padding-left: .1em; */
  /* font-weight: normal; */
  margin-bottom:-1em;
  background-image: -webkit-linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.mac .fcop {
  font-weight: 400;
}

.fcop:before {
  position: absolute;
  content: '';
  left: 2em;
  top: .13em;
  width: 80px;
  height: 3px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: cop_before_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.fcop:after {
  position: absolute;
  content: '';
  left: 2.23em;
  top: -.05em;
  width: 3px;
  height: 80px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: cop_after_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes fcop_before_effect {
  0% {
    left: 51px;
    top: 74px;
    opacity: 0;}

  15% {
    left: 51px;
    top: 74px;
    opacity: 1;}

  30% {
    left: 51px;
    top: 74px;
    opacity: 0;}

  35% {
    left: 370px;
    top: 45px;
    opacity: 0;}

  50% {
    left: 370px;
    top: 45px;
    opacity: 1;}

  65% {
    left: 370px;
    top: 45px;
    opacity: 0;}

  70% {
    left: 564px;
    top: 74px;
    opacity: 0;}

  85% {
    left: 564px;
    top: 74px;
    opacity: 1;}

  100% {
    left: 564px;
    top: 74px;
    opacity: 0;}
}

@-webkit-keyframes fcop_after_effect {
  0% {
    left: 90px;
    top: 32px;
    opacity: 0;}

  15% {
    left: 90px;
    top: 32px;
    opacity: 1;}

  30% {
    left: 90px;
    top: 32px;
    opacity: 0;}

  35% {
    left: 413px;
    top: 11px;
    opacity: 0;}

  50% {
    left: 413px;
    top: 11px;
    opacity: 1;}

  65% {
    left: 413px;
    top: 11px;
    opacity: 0;}

  70% {
    left: 603px;
    top: 32px;
    opacity: 0;}

  85% {
    left: 603px;
    top: 32px;
    opacity: 1;}

  100% {
    left: 603px;
    top: 32px;
    opacity: 0;}
}


@media (min-width: 1101px){
  .ffuture {
    left: 2.5em;
  }

  .fcop:before {
    left: 4.8em;
  }

  .fcop:after {
    left: 5.1em;
  }
}
@media (min-width: 376px) and (max-width: 1100px) {
  .ffuture {
    left: 1.5em;
  }

  .fcop:before {
    left: 4em;
  }

  .fcop:after {
    left: 4.3em;
  }
}
@media (max-width: 375px){
}
